# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\mathi\Dokumente\BASIS\Informatik\Informatik_Studium\Semester_5\Systemarchitekturen\Seminar\Systemarchitekturen_Übung_01\Systemarchitekturen_CQRS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
